.convo-bubble {
	position: absolute;
	width: 80%;
	margin: 0 auto;
	bottom: 50px;
	right: 10px;
	left: 10px;
    min-height: 20%;
	background: #004431;
	color: #0f4;
	font-size: 28px;
    border-radius: .4em;
	padding: 20px;
    display: none;
}

#arjsDebugUIContainer {
    display: none;
}

.a-enter-vr {
	display: none;
}
